H2/GUI/SOAP/SOAP/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/H3SOAP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/H3SOAP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHjemmeside">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hjemmeside" nillable="true" type="tns:Hjemmeside" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHjemmeside" nillable="true" type="tns:ArrayOfHjemmeside" />
  <xs:complexType name="Hjemmeside">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beskrivelse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Farlig" type="xs:boolean" />
      <xs:element minOccurs="0" name="Navn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hjemmeside" nillable="true" type="tns:Hjemmeside" />
  <xs:complexType name="Bil">
    <xs:sequence>
      <xs:element minOccurs="0" name="getBilType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="getHK" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bil" nillable="true" type="tns:Bil" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>