H2/GUI/WpfBooking/WpfBooking/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_BOOKING" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_BOOKING" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookingItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingItem" nillable="true" type="tns:BookingItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingItem" nillable="true" type="tns:ArrayOfBookingItem" />
  <xs:complexType name="BookingItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Extra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingItem" nillable="true" type="tns:BookingItem" />
</xs:schema>