H2/GUI/WpfBooking/WpfBooking/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfbooking.junoeuro.dk/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfbooking.junoeuro.dk/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfbooking.junoeuro.dk/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_BOOKING" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetBookingDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingDescription" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookingDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBookingNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBookingNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookingNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingNumber" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookingNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookingItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingItems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookingItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetBookingItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBookingItems" />
  </wsdl:message>
  <wsdl:message name="IService1_SetBookingItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetBookingItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetBookingDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookingDescription" message="tns:IService1_GetBookingDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookingDescriptionResponse" message="tns:IService1_GetBookingDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBookingNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBookingNumber" message="tns:IService1_CreateBookingNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBookingNumberResponse" message="tns:IService1_CreateBookingNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBookingNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBookingNumber" message="tns:IService1_DeleteBookingNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookingNumberResponse" message="tns:IService1_DeleteBookingNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookingItems" message="tns:IService1_GetBookingItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookingItemsResponse" message="tns:IService1_GetBookingItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBookingItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetBookingItems" message="tns:IService1_SetBookingItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetBookingItemsResponse" message="tns:IService1_SetBookingItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBookingDescription">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookingDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBookingNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBookingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookingNumber">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBookingNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingItems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookingItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBookingItems">
      <soap:operation soapAction="http://tempuri.org/IService1/SetBookingItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://wcfbooking.junoeuro.dk/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>